In [1]:
import pandas as pd

spells_split=pd.read_parquet('ag_primesmodel.parquet')
gdp_split=pd.read_parquet('gdps.parquet')
censura_split=pd.read_parquet('censoring_inQ_model.parquet')

In [3]:
gdp_split.head()

  trimestre       gdp pandas_quarter
0      T180  5.342723         1980Q1
1      T280  5.430510         1980Q2
2      T380  4.115650         1980Q3
3      T480  8.554780         1980Q4
4      T181  7.339334         1981Q1

In [6]:
censura_split.head()

  quarter  cases quarter_merge
0  1980Q1      0        1980Q1
1  1980Q2      0        1980Q2
2  1980Q3      0        1980Q3
3  1980Q4      0        1980Q4
4  1981Q1      0        1981Q1

In [9]:
ag_total=spells_split.merge(gdp_split,left_on='Quarter',right_on='pandas_quarter',how='left')
ag_total=ag_total.merge(censura_split,left_on='Quarter',right_on='quarter_merge',how='left')

In [10]:
ag_total.columns

Index(['id', 'start', 'stop', 'event', 'regimeFujimori',
       'technocrat_trait_ltm', 'PresidentOfExecutive', 'duration', 'Quarter',
       'trimestre', 'gdp', 'pandas_quarter', 'quarter', 'cases',
       'quarter_merge'],
      dtype='object')

In [12]:
ag_total=ag_total.loc[:,['id', 'start', 'stop', 'event', 'regimeFujimori',
       'technocrat_trait_ltm', 'PresidentOfExecutive', 'duration', 'Quarter','gdp', 'cases']]

In [13]:
ag_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    239 non-null    object
 1   start                 239 non-null    datetime64[ns]
 2   stop                  239 non-null    datetime64[ns]
 3   event                 239 non-null    int64
 4   regimeFujimori        239 non-null    int64
 5   technocrat_trait_ltm  239 non-null    float64
 6   PresidentOfExecutive  239 non-null    object
 7   duration              239 non-null    int64
 8   Quarter               239 non-null    object
 9   gdp                   236 non-null    float64
 10  cases                 237 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(3)
memory usage: 20.7+ KB

In [14]:
ag_total.head()

,id,start,stop,event,regimeFujimori,technocrat_trait_ltm,PresidentOfExecutive,duration,Quarter,gdp,cases
0,Manuel Ulloa Elías,1980-07-01,1980-09-30,0,0,-0.233155,Fernando Belaúnde Terry (II),91,1980Q3,4.115650,0.0
1,Manuel Ulloa Elías,1980-10-01,1980-12-31,0,0,-0.233155,Fernando Belaúnde Terry (II),91,1980Q4,8.554780,0.0
2,Manuel Ulloa Elías,1981-01-01,1981-03-31,0,0,-0.233155,Fernando Belaúnde Terry (II),89,1981Q1,7.339334,0.0
3,Manuel Ulloa Elías,1981-04-01,1981-06-30,0,0,-0.233155,Fernando Belaúnde Terry (II),90,1981Q2,6.393598,0.0
4,Manuel Ulloa Elías,1981-07-01,1981-09-30,0,0,-0.233155,Fernando Belaúnde Terry (II),91,1981Q3,6.277576,0.0

In [18]:
ag_total.rename(columns={'cases':'censorCount'},inplace=True)
ag_total['censorInQuarter']=ag_total['censorCount'].apply(lambda x: 1 if x > 0 else 0)

In [25]:
ag_total.loc[24:48,'PresidentOfExecutive']

24    Alan García
25    Alan García
26    Alan García
27    Alan García
28    Alan García
29    Alan García
30    Alan García
31    Alan García
32    Alan García
33    Alan García
34    Alan García
35    Alan García
36    Alan García
37    Alan García
38    Alan García
39    Alan García
40    Alan García
41    Alan García
42    Alan García
43    Alan García
44    Alan García
45    Alan García
46    Alan García
47    Alan García
48    Alan García
Name: PresidentOfExecutive, dtype: object

In [20]:
ag_total.to_parquet('ag_total.parquet')
ag_total.to_excel('ag_total.xlsx',index=False)