In [1]:
import pandas as pd

spells_split=pd.read_parquet('ag_primesmodel.parquet')
gdp_split=pd.read_parquet('gdps.parquet')
censura_split=pd.read_parquet('censoring_inQ_model.parquet')

In [3]:
gdp_split.head()

  trimestre       gdp pandas_quarter
0      T180  5.342723         1980Q1
1      T280  5.430510         1980Q2
2      T380  4.115650         1980Q3
3      T480  8.554780         1980Q4
4      T181  7.339334         1981Q1

In [6]:
censura_split.head()

  quarter  cases quarter_merge
0  1980Q1      0        1980Q1
1  1980Q2      0        1980Q2
2  1980Q3      0        1980Q3
3  1980Q4      0        1980Q4
4  1981Q1      0        1981Q1

In [9]:
ag_total=spells_split.merge(gdp_split,left_on='Quarter',right_on='pandas_quarter',how='left')
ag_total=ag_total.merge(censura_split,left_on='Quarter',right_on='quarter_merge',how='left')

In [10]:
ag_total.columns

Index(['id', 'start', 'stop', 'event', 'regimeFujimori',
       'technocrat_trait_ltm', 'PresidentOfExecutive', 'duration', 'Quarter',
       'trimestre', 'gdp', 'pandas_quarter', 'quarter', 'cases',
       'quarter_merge'],
      dtype='object')

In [12]:
ag_total=ag_total.loc[:,['id', 'start', 'stop', 'event', 'regimeFujimori',
       'technocrat_trait_ltm', 'PresidentOfExecutive', 'duration', 'Quarter','gdp', 'cases']]

In [13]:
ag_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    239 non-null    object
 1   start                 239 non-null    datetime64[ns]
 2   stop                  239 non-null    datetime64[ns]
 3   event                 239 non-null    int64
 4   regimeFujimori        239 non-null    int64
 5   technocrat_trait_ltm  239 non-null    float64
 6   PresidentOfExecutive  239 non-null    object
 7   duration              239 non-null    int64
 8   Quarter               239 non-null    object
 9   gdp                   236 non-null    float64
 10  cases                 237 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(3)
memory usage: 20.7+ KB